In [214]:
import pandas as pd

In [215]:
data_train = pd.read_excel('C:/Users/user123/Downloads/Data_Train.xlsx')

In [216]:
data_test = pd.read_excel('C:/Users/user123/Downloads/Test_set.xlsx')

In [217]:
data_train = data_train.dropna()
data_test = data_test.dropna()

In [218]:
data_train['Journey_Day'] = pd.to_datetime(data_train.Date_of_Journey, format='%d/%m/%Y').dt.day
data_train['Journey_Month'] = pd.to_datetime(data_train.Date_of_Journey, format='%d/%m/%Y').dt.month
data_test['Journey_Day'] = pd.to_datetime(data_test.Date_of_Journey, format='%d/%m/%Y').dt.day
data_test['Journey_Month'] = pd.to_datetime(data_test.Date_of_Journey, format='%d/%m/%Y').dt.month

data_train.drop(labels = 'Date_of_Journey', axis = 1, inplace = True)
data_test.drop(labels = 'Date_of_Journey', axis = 1, inplace = True)

In [219]:
duration = list(data_train['Duration'])

for i in range(len(duration)) :
    if len(duration[i].split()) != 2:
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())

dur_hours = []
dur_minutes = []  

for i in range(len(duration)) :
    dur_hours.append(int(duration[i].split()[0][:-1]))
    dur_minutes.append(int(duration[i].split()[1][:-1]))
    
data_train['Duration_hours'] = dur_hours
data_train['Duration_minutes'] =dur_minutes

data_train.drop(labels = 'Duration', axis = 1, inplace = True)

In [220]:
durationT = list(data_test['Duration'])

for i in range(len(durationT)) :
    if len(durationT[i].split()) != 2:
        if 'h' in durationT[i] :
            durationT[i] = durationT[i].strip() + ' 0m'
        elif 'm' in durationT[i] :
            durationT[i] = '0h {}'.format(durationT[i].strip())
            
dur_hours = []
dur_minutes = []  

for i in range(len(durationT)) :
    dur_hours.append(int(durationT[i].split()[0][:-1]))
    dur_minutes.append(int(durationT[i].split()[1][:-1]))
  
    
data_test['Duration_hours'] = dur_hours
data_test['Duration_minutes'] = dur_minutes

data_test.drop(labels = 'Duration', axis = 1, inplace = True)

In [221]:
data_train['Depart_Time_Hour'] = pd.to_datetime(data_train.Dep_Time).dt.hour
data_train['Depart_Time_Minutes'] = pd.to_datetime(data_train.Dep_Time).dt.minute

data_train.drop(labels = 'Dep_Time', axis = 1, inplace = True)


data_train['Arr_Time_Hour'] = pd.to_datetime(data_train.Arrival_Time).dt.hour
data_train['Arr_Time_Minutes'] = pd.to_datetime(data_train.Arrival_Time).dt.minute

data_train.drop(labels = 'Arrival_Time', axis = 1, inplace = True)

In [222]:
data_test['Depart_Time_Hour'] = pd.to_datetime(data_test.Dep_Time).dt.hour
data_test['Depart_Time_Minutes'] = pd.to_datetime(data_test.Dep_Time).dt.minute


data_test.drop(labels = 'Dep_Time', axis = 1, inplace = True)

data_test['Arr_Time_Hour'] = pd.to_datetime(data_test.Arrival_Time).dt.hour
data_test['Arr_Time_Minutes'] = pd.to_datetime(data_test.Arrival_Time).dt.minute

data_test.drop(labels = 'Arrival_Time', axis = 1, inplace = True)

In [223]:
data_train.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes,Arr_Time_Hour,Arr_Time_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2,50,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,7,25,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,19,0,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,5,25,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,4,45,16,50,21,35

In [224]:
data_test.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Duration_hours,Duration_minutes,Depart_Time_Hour,Depart_Time_Minutes,Arr_Time_Hour,Arr_Time_Minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,10,55,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,4,0,6,20,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,In-flight meal not included,21,5,23,45,19,15,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,21,5,13,0,8,0,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,non-stop,No info,24,6,2,50,23,55,2,45

In [225]:
Y = data_train.iloc[:,6].values
X = data_train.iloc[:,data_train.columns != 'Price'].values
X_tes = data_test.iloc[:,:].values

In [226]:
from sklearn.preprocessing import LabelEncoder

enc1 = LabelEncoder()
enc2 = LabelEncoder()    

X[:,0] = enc1.fit_transform(X[:,0])

X[:,1] = enc1.fit_transform(X[:,1])

X[:,2] = enc1.fit_transform(X[:,2])

X[:,3] = enc1.fit_transform(X[:,3])

X[:,4] = enc1.fit_transform(X[:,4])

X[:,5] = enc1.fit_transform(X[:,5])


X_tes[:,0] = enc2.fit_transform(X_tes[:,0])

X_tes[:,1] = enc2.fit_transform(X_tes[:,1])

X_tes[:,2] = enc2.fit_transform(X_tes[:,2])

X_tes[:,3] = enc2.fit_transform(X_tes[:,3])

X_tes[:,4] = enc2.fit_transform(X_tes[:,4])

X_tes[:,5] = enc2.fit_transform(X_tes[:,5])

In [227]:
print(pd.DataFrame(X_tes).head())

  0  1  2   3  4  5   6  7   8   9   10  11  12  13
0  4  2  1  76  0  5   6  6  10  55  17  30   4  25
1  3  3  0  65  0  5  12  5   4   0   6  20  10  20
2  4  2  1  76  0  3  21  5  23  45  19  15  19   0
3  6  2  1  76  0  5  21  5  13   0   8   0  21   0
4  0  0  2  16  4  5  24  6   2  50  23  55   2  45

In [228]:
print(pd.DataFrame(X).head())

  0  1  2    3  4  5   6  7   8   9   10  11  12  13
0  3  0  5   18  4  8  24  3   2  50  22  20   1  10
1  1  3  0   84  1  8   1  5   7  25   5  50  13  15
2  4  2  1  118  1  8   9  6  19   0   9  25   4  25
3  3  3  0   91  0  8  12  5   5  25  18   5  23  30
4  3  0  5   29  0  8   1  3   4  45  16  50  21  35

In [229]:
X_tes.shape

(2671, 14)

In [230]:
Y.shape

(10682,)

In [231]:
X.shape

(10682, 14)

In [232]:
from sklearn.preprocessing import StandardScaler

model_sc = StandardScaler()

X = model_sc.fit_transform(X)

X_tes = model_sc.fit_transform(X_tes)

Y = Y.reshape((len(Y), 1)) 

Y = model_sc.fit_transform(Y)

C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [233]:
print(pd.DataFrame(X).head())

         0         1         2         3         4         5         6   \
0 -0.410805 -1.658359  2.416534 -1.547082  1.407210  0.499921  1.237288
1 -1.261152  0.890014 -0.973812  0.249946 -0.253703  0.499921 -1.475307
2  0.014369  0.040556 -0.295743  1.175687 -0.253703  0.499921 -0.531796
3 -0.410805  0.890014 -0.973812  0.440539 -0.807341  0.499921 -0.177979
4 -0.410805 -1.658359  2.416534 -1.247577 -0.807341  0.499921 -1.475307

         7         8         9         10        11        12        13
0 -1.467402 -0.970614  1.279041  1.654154 -0.234950 -1.800436 -0.890014
1  0.250289 -0.381999 -0.196319 -1.303113  1.363607 -0.050909 -0.587094
2  1.109135  1.030677 -1.671678 -0.607286  0.031476 -1.363054  0.018745
3  0.250289 -0.617445 -0.196319  0.958326 -1.034229  1.407030  0.321664
4 -1.467402 -0.735168  0.983969  0.610412  1.363607  1.115442  0.624584

In [234]:
print(pd.DataFrame(Y).head())

          0
0 -1.125535
1 -0.309068
2  1.039783
3 -0.622209
4  0.914006

In [366]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.1,random_state=14)
model_r = RandomForestRegressor(max_depth = 14)
model_r.fit(X_train,Y_train)

C:\Users\user123\Anaconda3\python\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\user123\Anaconda3\python\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=14,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [367]:
Y_predict = model_r.predict(X_test)

In [368]:
print(Y_predict)

[ 0.27429918 -0.38076074  1.09440351 ...  0.72045284 -0.42766378
  0.39861006]

In [369]:
Y_new = model_sc.inverse_transform(Y_predict)
print(Y_new)

[10352.09943036  7331.4        14133.87353211 ... 12409.4625
  7115.11448393 10925.33826434]

In [370]:
r2_score(Y_test,Y_predict)

0.9113690567869898

In [365]:
X_tes.shape

(2671, 14)

In [208]:
X = X_tes

In [209]:
result = model_sc.inverse_transform(model_r.predict(X))

In [210]:
print(result)
result.shape

[14792.22231507  4319.22862515 12886.85823699 ... 16105.67655602
 14798.28182203  8309.70324335]

(2671,)

In [212]:
pd.DataFrame(result, columns = ['Price']).to_excel("Final_result.xlsx", index = False)